@use "../themes/theme-adalid" as colors;
@use "../abstracts/variables" as breakpoints;

.equipo-medico__container img {
  width: 150px;
}

.profesionales{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-block: 1rem;
}
